#program{
    text-align: center;
    vertical-align: center;
}

#demo{
    font-size: 50px;
}

h1{
    font-size: 55px;

}
body{
    background-color: powderblue;
}

#genbutton{
    font-size: 60px;
    border-radius:25px;
    background-color:antiquewhite;
    
}   

#numip{
    font-size: 40px;
    border-radius:25px;
    text-align: center;
}