@media only screen and (max-width: 1500px) {
    #program{
        text-align: center;
        vertical-align: center;
    }
    
    #demo{
        width: 100%;
        font-size: 3em;
    }
    
    h1{
        width:100%;
        font-size: 3em;
    
    }
    body{
        background-color: powderblue;
    }
    
    #genbutton{
        width:30%;
        font-size: 4rem;
        border-radius:2em;
        background-color:antiquewhite;
        
    }   
    
    #numip{
        width: 60%;
        font-size: 3em;
        border-radius:2em;
        text-align: center;
    }
    #prevnum{
        font-size: 2em;
    }
}


@media only screen and (max-width: 600px) {
    #program{
        text-align: center;
        vertical-align: center;
    }
    
    #demo{
        width: 100%;
        font-size: 2em;
    }
    
    h1{
        width:100%;
        font-size: 2em;
    
    }
    body{
        background-color: powderblue;
    }
    
    #genbutton{
        width:60%;
        font-size: 2em;
        border-radius:2em;
        background-color:antiquewhite;
        
    }   
    
    #numip{
        width: 75%;
        font-size: 2em;
        border-radius:1em;
        text-align: center;
    }
}
